# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/dist/*
dist
dist/*

# misc
.DS_Store
*.pem
.idea

# debug
npm-debug.log*


# local env files
.env*.local
.env


# typescript
*.tsbuildinfo
next-env.d.ts

#lock json
package-lock.json

.vercel
